@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    color: black;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.header {
    background-color: rgb(198, 230, 243);
}

.navbar {
    padding: 20px;
    font-size: 14px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero{
    min-height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    gap: 8px;

    font-weight: 600;
    font-size: 25px;
}

.logo img {
    width: 24px;
    height: 24px;

    transform: rotate(25deg) scale(1.1);
}

.inicio,
.ayuda,
.sobre-nosotros,
.contacto,
.agendar-ahora,
.aprende-mas,
.crea-una-reserva {
    font-weight: 500;
    border-radius: 50px;
    padding: 5px 20px 5px 20px;
    background-color: white;
    text-decoration: none;
}

.inicio:hover,
.ayuda:hover,
.sobre-nosotros:hover,
.contacto:hover {
    background-color: lightgray;
}

.agendar-ahora:hover,
.crea-una-reserva:hover {
    background-color: #FFDE42;
}

.aprende-mas:hover {
    background-color: #181818;
    color: white;
}

.inicio:active,
.ayuda:active,
.sobre-nosotros:active,
.contacto:active,
.agendar-ahora:active,
.aprende-mas:active,
.crea-una-reserva:active {
    transform: scale(0.95);
}

.agendar-ahora {
    background-color: yellow;
}

.principal {
    position: absolute;
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    font-size: 25px;
    white-space: nowrap;
}

.botones{
    font-size: 20px;
    display: flex;
    text-align: center;
    gap: 30px;
}

.aprende-mas {
    background-color: black;
    color: white;
}

.crea-una-reserva {
    background-color: yellow;
}

.imagen-perro {
    position: absolute;
    left: 10%;
    bottom: -4%;
}

.imagen-gato {
    position: absolute;
    right: 0;
    bottom: 0;
}

.mensaje-elegirnos {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    line-height: 1.6;
    font-size: 1.1rem;
    color: #444;
}

.servicios {
    display: flex;
    margin: 40px auto;
    gap: 15px;
    justify-content: center;
    width: 100%;
}

.consejos_atencion,
.ayuda-veterinaria,
.servicios-emergencia {
    width: 300px;
    object-fit: cover;
}

footer {
    clear: both;
    width: 100%;
    padding: 20px 0;
}

.info {
    display: flex;
    gap: 80px;
    justify-content: center;
}

.logo-footer {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 20px;
}

.logo-footer img {
    width: 20px;
    height: 20px;
    transform: rotate(25deg) scale(1.1);
}

.contenido-contactos {
    line-height: 17px;
}

.contenido-servicios {
    line-height: 30px;
}

.contenido-lema {
    max-width: 200px;
    margin-top: -30px;
}